<div class="titlebar grey">
  <button
    mat-button
    class="btn grey"
    aria-label="Example icon button with a menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <div>
    GODFRED DOKU, SYSTEM DEVELOPER - <span>Mon, Oct 9, 2023 11:05 AM </span>
  </div>
  <div class="bg-teal">
    <button mat-button style="flex-direction: row-reverse">
      <div>SAM JONAH HOSPITAL</div>
      <mat-icon
        class="dark"
        aria-hidden="false"
        aria-label="Arrow down Icon"
        fontIcon="keyboard_arrow_down"
      ></mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon
        aria-hidden="false"
        aria-label="Show Chart Icon"
        fontIcon="show_chart"
      ></mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon
        aria-hidden="false"
        aria-label="Show File Icon"
        fontIcon="insert_drive_file"
      ></mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon
        aria-hidden="false"
        aria-label="Show Calender Icon"
        fontIcon="calendar_month"
      ></mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon
        aria-hidden="false"
        aria-label="Show Message Icon"
        fontIcon="message"
        matBadge="0"
        matBadgePosition="after"
      ></mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon
        aria-hidden="false"
        aria-label="Show Chart Icon"
        fontIcon="notifications"
        matBadge="0"
        matBadgePosition="before"
      ></mat-icon>
    </button>
    <button mat-button>
      <mat-icon
        aria-hidden="false"
        aria-label="Show Chart Icon"
        fontIcon="account_circle"
      ></mat-icon>
    </button>
  </div>
</div>
<app-sidenav></app-sidenav>
