.patient-lists {
  padding: 0 1rem 1rem;
  position: fixed;
  height: 90%;
  margin: auto 0;
  overflow: hidden;
  overflow-y: scroll;
  z-index: 5;
}
p.title {
  color: rgb(219, 106, 13);
  font-size: 1.8rem;
}
.example-full-width {
  max-width: 16rem;
}

.toggleBtn {
  display: none;
}
table {
  width: 100%;
}

table .user-card {
  width: calc(100% - 3rem);
  padding: 1.5rem;
  border-bottom: 1px solid #777;
}

.user-card .top {
  width: 100%;
  display: flex;
  gap: 1rem;
}

.user-card .top .left {
  width: 6rem;
  height: 6rem;
  background: #f5f5f5;
  border-radius: 50%;
  overflow: hidden;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-card .top .left img {
  width: 70%;
}

.user-card .bottom {
  display: flex;
  justify-content: flex-end;
}

.user-card * {
  margin: 0;
  padding: 0;
}

.user-card h3 {
  text-transform: uppercase;
}
.user-card h5 {
  font-size: 1.4rem;
  color: #666;
  margin: 1rem 0 0.4rem;
}

.user-card .top .right .email {
  color: var(--teal);
}

.user-card p {
  margin: 0.4rem 0;
}
.right {
  width: calc(100% - 6rem);
}

.bottom {
  width: 100%;
}

.bottom button {
  margin: 0.2rem 0;
  width: 10rem;
}
.bottom button:disabled {
  opacity: 0.4;
}

@media (max-width: 1100px) {
  .patient-lists {
    /* top: 2rem; */
    right: 0.5rem;
    display: none;
  }
  .patient-lists.show {
    display: block;
  }
  .toggleBtn {
    display: block;
  }
  .example-full-width {
    max-width: 18rem;
  }
}
@media (max-width: 1000px) {
}
@media (max-width: 900px) {
}
@media (max-width: 800px) {
}
@media (max-width: 600px) {
}
@media only screen and (-webkit-min-device-pixel-ratio: 3.5) {
  .toggleBtn {
    display: block;
  }
}
