// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

/* For use in src/lib/core/theming/_palette.scss */
$md-test: (
  50: #e0f0f0,
  100: #b3d9d9,
  200: #80c0c0,
  300: #4da6a6,
  400: #269393,
  500: #008080,
  600: #007878,
  700: #006d6d,
  800: #006363,
  900: #005050,
  A100: #83ffff,
  A200: #50ffff,
  A400: #1dffff,
  A700: #03ffff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$infotech-third-task-primary: mat.define-palette($md-test);
$infotech-third-task-accent: mat.define-palette(
  mat.$pink-palette,
  A200,
  A100,
  A400
);

// The warn palette is optional (defaults to red).
$infotech-third-task-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$infotech-third-task-theme: mat.define-light-theme(
  (
    color: (
      primary: $infotech-third-task-primary,
      accent: $infotech-third-task-accent,
      warn: $infotech-third-task-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($infotech-third-task-theme);
