/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.grey {
  background: #999;
}

.bg-teal {
  background-color: teal;
}

mat-icon {
  color: #fff !important;
}

mat-icon.dark {
  color: #000 !important;
}
