/* You can add global styles to this file, and also import other style files */

html,
body {
  min-height: 100vh;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  --teal: #258ca4;
  --accent: #e5a044;
}

html {
  font-size: 62.5%; /* Making 1rem = 10px */
}

@media (max-width: 1200px) {
  html {
    font-size: 56.26%; /* Making 1rem = 9px */
  }
}

@media screen and (max-width: 900px) {
  html {
    font-size: 50%; /* Making 1rem = 8px */
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 3.5) {
  html {
    font-size: 50%; /* Making 1rem = 8px */
  }
}

@media (min-width: 1800px) {
  html {
    font-size: 75%; /* Making 1rem = 12px */
  }
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  position: relative;
}

.grey {
  background: #999;
}

.bg-teal {
  background-color: var(--teal);
}

.bg-dark-grey {
  background-color: #777 !important;
}

.btn-shadow {
  box-shadow: 0 0.2rem 0.4rem 0.2rem rgba(0, 0, 0, 0.1) !important;
}

mat-icon {
  color: #fff !important;
}

mat-icon.dark {
  color: #000 !important;
}
